/* Reset some default styles for better control */
body, h1, p {
    margin: 0;
    padding: 0;

}
.newfontstyle{

    font-family: "Indie Flower", cursive;
    font-size: 72px;
    color: rgb(3, 3, 3);
    line-height: 1.2;
    font-weight: 100;

  }

/* Set a background color and text color for the entire page */
body {
    /* background-color:#333;
    color: #333; */
    background-image: url("../image/1111.jpg");    
    /* font-family: 'Arial', sans-serif;
    line-height: 3; */
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 10px;
    margin-bottom: 20px;
    font-family: 'Indie Flower', cursive;
    font-weight: 500;
    color: rgb(2, 0, 0);
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #333; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}

/* Footer styles */
footer {
    /* background-color: #333; */
    /* color: #333; */
    text-align: left;
    padding: 10px;
}

/* Social media icons in footer */
i.fab {
    font-size: 24px;
    margin: 0 10px;
    color: #007BFF;
}

/* Hover effect for social media icons */
i.fab:hover {
    color: #0056b3;
}
footer {
    /* background-color: #333; */
    color: #fff;
    padding: 20px 0;
}

/* Center the social media icons and style them */
footer .text-right {
    font-size: 40px;
    margin-top: 200px
}

/* Style the individual social media icons */
footer .text-white i {
    color: #fff;
    transition: color 0.3s;
}

/* Hover effect for social media icons */
footer .text-white i:hover {
    color: #007BFF;
}






