body {
    background-image: url("../image/sakhihotel.jpg");
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    /* Optional: Set a background color as a fallback */
}

.newfontstyle{

    font-family: "Indie Flower", cursive;
    font-size: 72px;
    color: whitesmoke;
    line-height: 1.2;
    font-weight: 300;

  }

a.nav-link {
    color: whitesmoke;
    
}
.centersakshi{
margin-top: 150px;
}
.center{
  margin-top: 150px;
}


