{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compitable" content="IE=edge" />
    <title>hotel_management</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'tasty/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'tasty/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'tasty/css/reservation.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap"
      rel="stylesheet"
    />
  
    <link rel="stylesheet" href="{%static 'tasty/style.css'%}" />
    
  </head>
  <body>
    <div class="container">{% block content %} {% endblock content %}</div>
  </body>
</html>
