<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservations - Hotel Management</title>
    <link rel="stylesheet" href="{% static 'tasty/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'tasty/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'tasty/css/reservation.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h1>Reservations</h1>
        <p>Book your stay with us.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
               
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <footer>
        <div class="text-center">
            <a href="#" target="_blank">
                <i class="fab fa-twitter i-color mr-3"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-facebook-f i-color mr-3"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-instagram i-color mr-3"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-dribbble i-color mr-3"></i>
            </a>
        </div>
    </footer>

    <script src="{% static 'tasty/js/jquery.js' %}"></script>
    <script src="{% static 'tasty/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'tasty/js/popper.js' %}"></script>
    <script src="{% static 'tasty/js/all.min.js' %}"></script>
</body>
</html>
